doctype html
html
  head
    meta(charset="utf-8")
    title Lightsaber
    meta(name="viewport" content="width=device-width initial-scale=1")
    link(href="index.css" rel="stylesheet")
  body
    .wrap
      #sword
      #start
        img(src="handle.png" alt="")
    script(src="main.js")
